<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="catTipocolore">
            <h2><span>Cat Tipocolore</span> {{catTipocolore.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Id Prodotto</span></dt>
                <dd>
                    <span>{{catTipocolore.idProdotto}}</span>
                </dd>
                <dt><span>Descrizione</span></dt>
                <dd>
                    <span>{{catTipocolore.descrizione}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cat-tipocolore', catTipocolore.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
