<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="catBase">
            <h2><span>Cat Base</span> {{catBase.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Codbase</span></dt>
                <dd>
                    <span>{{catBase.codbase}}</span>
                </dd>
                <dt><span>Descrizione</span></dt>
                <dd>
                    <span>{{catBase.descrizione}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cat-base', catBase.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
