<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="catColore">
            <h2><span>Cat Colore</span> {{catColore.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Descrizione</span></dt>
                <dd>
                    <span>{{catColore.descrizione}}</span>
                </dd>
                <dt><span>Gruppocolore</span></dt>
                <dd>
                    <div *ngIf="catColore.gruppocolore">
                        <a [routerLink]="['/cat-gruppocolore', catColore.gruppocolore?.id, 'view']">{{catColore.gruppocolore?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cat-colore', catColore.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
